.minhaClasse{
    min-height: 800px;
    background-repeat: repeat-y;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;


}
.brilha{
    transition: ease-in-out;
    transition-duration: 0.5s;
    box-shadow: 0px 1px 15px 6px rgb(0 0 0 / 30%);
}
.brilha:hover{
    background-color:#c39f76c7;
    transition: ease-in-out;
    transition-duration: 0.5s;
    box-shadow: 0px 1px 15px 3px rgb(0 0 0 / 55%);

}
.brilha:hover .child{
    transition: ease-in-out;
    transition-duration: 0.5s;

    /* box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 10%); */

}
.brilha:hover .child2{
    transition: ease-in-out;
    transition-duration: 0.5s;
    color:#222222;
}
.brilha:hover .child3{
    transition: ease-in-out;
    transition-duration: 0.5s;
    color:white;
}
.child4:hover{
    transition: ease-in-out;
    transition-duration: 0.5s;
    border-color: #C39F76;
    color: white;

}

.shadow{
    box-shadow: 0px 1px 15px 6px rgb(0 0 0 / 30%);
}

label span{
    content: "*";
    color: red; 
    display: none;
  }