.foto{
    float: right;
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 960px;
    height: 500px;
}
.foto2{
    float: left;
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 500px;
}
.foto_familia{
    float: left;
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_civil{
    float: left;
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_tributario{
    float: left;
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_trabalhista{
    float: left;
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_adm{
    float: left;
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_whats{
    float: left;
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
.foto_slide1{
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.foto_slide2{
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.foto_slide3{
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.foto_logogrande{
    background-image: url('../../assets/escritorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 343px;
    height: 60px;
    border: 0px;
}