.foto{
    float: right;
    background-image: url('../../public/static/escritorio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 960px;
    height: 500px;
}
.foto2{
    float: left;
    background-image: url('../../public/static/mapasemlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 500px;
}
.foto_familia{
    float: left;
    background-image: url('../../public/static/familia.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_civil{
    float: left;
    background-image: url('../../public/static/civil.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_tributario{
    float: left;
    background-image: url('../../public/static/tributario.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_trabalhista{
    float: left;
    background-image: url('../../public/static/trabalhista.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_adm{
    float: left;
    background-image: url('../../public/static/adm.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 825px;
    height: 500px;
}
.foto_whats{
    float: left;
    background-image: url('../../public/static/whatsapp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
